{$APP_BASE_URL} {
    encode gzip
    log {
        output stdout
        format json
    }
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
    handle_path /api/webhook/telegram* {
        reverse_proxy web:8000 {
            header_up X-Telegram-Bot-Api-Secret-Token {$WEBHOOK_SECRET}
        }
    }
    reverse_proxy web:8000
}
